<div class="col-md-12">
  <h3>Create Item</h3>
</div>
<div class="col-md-6">
  <form [formGroup]="newItemForm" (ngSubmit)="saveItem(newItemForm.value)" autocomplete="off">
    <div class="form-group" [ngClass]="{'error': name.invalid && name.dirty }">
      <label for="itemName">Item Name:</label>
      <em *ngIf="name.invalid && name.dirty">Required</em>
      <input formControlName="name" id="itemName" type="text" class="form-control" placeholder="item name..."/>
    </div>
    <div class="form-group">
      <label for="itemDescription">Item Description:</label>
      <input formControlName="description" id="itemDescription" type="text" class="form-control" placeholder="item description..."/>
    </div>
    <div class="form-group">
      <label for="itemImageUrl">Item ImageUrl:</label>
      <input formControlName="imageUrl" id="itemImageUrl" type="text" class="form-control" placeholder="item image url..."/>
    </div>
    <div class="form-group">
      <label for="itemCategories">Item Categories:</label>
      <input formControlName="categories" id="itemCategories" type="text" class="form-control" placeholder="item categories..."/>
    </div>
    <div class="form-group" [ngClass]="{'error': quantity.invalid && quantity.dirty }">
      <label for="itemQuantity">Item Quantity:</label>
      <em *ngIf="quantity.invalid && quantity.dirty">Required</em>
      <input formControlName="quantity" id="itemQuantity" type="text" class="form-control" placeholder="item quantity..."/>
    </div>
    <div class="form-group">
      <label for="itemPrice">Item Price:</label>
      <input formControlName="price" id="itemPrice" type="text" class="form-control" placeholder="item price..."/>
    </div>
    <button type="submit" [disabled]="newItemForm.invalid" class="btn btn-primary">Save</button>
    <button type="button" (click)="cancel()" class="btn btn-default">Cancel</button>
  </form>
</div>
